.attribution { font-size: 11px; text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%); 
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 25px 15px;
    height: 100vh;
}

.product-card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: row;
    width: 90%;
    max-width: 375px;
    overflow: hidden;
    text-align: center;
}

.product-image img {
    display: block;
    justify-content: center;
    width: 100%;
}

.product-details {
    padding: 20px;
}

.product-category {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
    text-align: left;
    letter-spacing: 5px;
}

.product-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--very-dark-blue);
}

.product-description {
    font-size: 14px;
    color: var(--dark-grayish-blue);
    margin-bottom: 20px;
    line-height: 1.5;
}

.product-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.current-price {
    font-size: 22px;
    color: var(--dark-cyan);
    font-weight: bold;
}

.original-price {
    font-size: 16px;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-btn img {
    width: 16px;
    height: 16px;
}

